#column2 {
    margin: 0 auto;
}
#column2 table tr td {
    width: auto;
    height: 35px;
    padding-right: 25px;
}
#column2 table tr td {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
#twps {
    color: white;
    background-color: red;
    padding: 5px;
}
#need {
    text-align: center;
    color: firebrick;
    background-color: rgba(255,127,127,0.3);
    padding-left: 10px;
}
ul {
    padding-right: 15px;
    list-style: none;
    padding: 0;
}
li {
    margin: 0 auto;
    padding: 0 0 0 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
li:nth-child(even) {
    background-color: rgba(127,127,127,0.1);
}
li:hover {
    background-color: aliceblue;
}
#raw {
    font-size: 10px;
}
#twp {
    height: 100%;
}
#twp:focus {
    background-color: powderblue;
}
#census1850 {
    margin: 0 auto;
    text-align: center;
    width: 600px;
    overflow: hidden;
}
#twps1850, #censusTwp {
    float: left;
    width: 200px;
    height: 500px;
}
#twpData1850 {
    overflow: hidden;
    float: left;
    width: 70%;
    height: 500px;
}
textarea, #census1850 {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
option {
    height: 25px;
}
