h2, h3 {
    padding-bottom: 10px;
}
table {
    padding-top: 15px;
}
table tr th {
    width: 300px;
    background-color: dodgerblue;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
table {
    padding: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}
#center2 {
    margin: 0 auto;
}
