#address {
    padding-bottom: 4px;
    margin-bottom: 10px;
    background-color: rgba(127,127,127,0.05);
}
#vitaltable, table {
    margin: auto;
    text-align: center;
}
table tr th {
    background-color: dodgerblue;
    padding: 10px;
}
#vitaltable table tr th {
    width: 200px;
}
table tr td {
    padding: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
i {
    font-size: 13px;
}
